<div class="row align-items-center">
  <div class="col-2 text-right">{{rangeItem.title}}</div>
  <div class="col-4">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-primary" type="button" (click)="onDown()"><span class="fas fa-minus"></span></button>
      </div>
      <input type="text" class="form-control" readonly [value]="range" style="text-align:center;">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="onUp()"><span class="fas fa-plus"></span></button>
      </div>
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="onIncludeAll()"><span class="fas fa-fill"></span></button>
      </div>
      <div class="input-group-append">
        <button class="btn btn-danger" type="button" (click)="onReset()"><span class="fas fa-times-circle"></span></button>
      </div>
    </div>
  </div>
  <div class="col-2 text-right">
    {{amountOfHands}}
  </div>
  <div class="col-2 text-right">
    {{amountOfCombos}}
  </div>
  <div class="col-2 text-right">
    {{percentOfCombos | percent : '1.2-2'}}
  </div>
</div>
